<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>todid</title>
	<link rel='stylesheet' href='main.css'>
</head>
<body>
	<!-- Page Content -->
	<div id='page_container'>
		<header>
			<h2>to-did MV*</h2>
			<div class='view_toggle' id='toggle_new'>new to-did</div>
			<div class='view_toggle' id='toggle_old'>old entries</div>
		</header>
		<div id='form_container'>
			<div id='date'></div>
			<div id='form_day' class='form_input'>
				<textarea placeholder='How was your day?' class='form_textarea'></textarea>
			</div>
			<div id='form_stuff' class='form_input'>
				<textarea placeholder='Read, see, or listen to anything good?' class='form_textarea'></textarea>
			</div>
			<div id='form_thoughts' class='form_input'>
				<textarea placeholder='Have any interesting thoughts or ideas?' class='form_textarea'></textarea>
			</div>
			<div id='form_food' class='form_input'>
				<textarea placeholder="What'd you eat today?" class='form_textarea'></textarea>
			</div>						
			<br>
			<div id='form_submit'>save</div>
		</div>
		<div id='todid_listing' class='hidden'></div>
	</div>

	<!-- Underscore Templates -->
	<script type='text/template' id='todid_model_template'>
		<h3 class='entry_header'><%= attributes.date %> - <%= attributes.time %></h3>
		<% if (attributes.day != '') { %>
		<div class='entry_item_container'><div class='entry_label'>My day was:</div><div class='entry_text'><%= attributes.day %></div></div>
		<%}%>
		<% if (attributes.stuff != '') { %>
		<div class='entry_item_container'><div class='entry_label'>I read/saw/heard:</div><div class='entry_text'><%= attributes.stuff %></div></div>
		<%}%>
		<% if (attributes.thoughts != '') { %> 
		<div class='entry_item_container'><div class='entry_label'>I thought about:</div><div class='entry_text'><%= attributes.thoughts %></div></div>
		<%}%>
		<% if (attributes.food != '') { %>
		<div class='entry_item_container'><div class='entry_label'>I ate:</div><div class='entry_text'><%= attributes.food %></div></div>
		<%}%>
		<button class='delete_entry'>delete</button>
	</script>

	<!-- Javascript Files -->
	<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js'></script>
	<script src='main.js'></script>
</body>
</html>
