<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>todid</title>
	<link rel='stylesheet' href='main.css'>
</head>
<body>
	
	<!-- Page Content -->
	<div id='page_container'>
		<header>
			<h2>to-did MV*</h2>
			<div class='view_toggle' id='toggle_new'>new to-did</div>
			<div class='view_toggle' id='toggle_old'>old entries</div>
		</header>
		<div id='date'></div>
		<div id='form_container'>
			<div id='form_read' class='form_section'>
				<h3 class='form_section_title'>what have you read today?</h3>
				<input class='form_input' type='text' placeholder='title'>
				<input class='form_input' type='text' placeholder='url'>
				<input class='form_input' type='text' placeholder='tl;dr'>
			</div>
			<div id='form_activity' class='form_section'>
				<h3 class='form_section_title'>what have you done today?</h3>
				<input class='form_input' type='text' placeholder='activity'>
			</div>
			<div id='form_thought' class='form_section'>
				<h3 class='form_section_title'>what have you thought about today?</h3>
				<input class='form_input' type='text' placeholder='thoughts or ideas'>
			</div>
			<div id='form_food' class='form_section'>
				<h3 class='form_section_title'>what have you eaten today?</h3>
				<input class='form_input' type='text' placeholder='noms?'>
			</div>
			<div id='form_listen' class='form_section'>
				<h3 class='form_section_title'>what have you listened to today?</h3>
				<input class='form_input' type='text' placeholder='tunes'>
				<input class='form_input' type='text' placeholder='thoughts'>
			</div>
			<div id='form_new' class='form_section'>
				<h3 class='form_section_title'>what's something new you've tried today?</h3>
				<input class='form_input' type='text' placeholder='what&#39;s new?'>
			</div>
			<br>
			<button id='form_submit'>save</button>
		</div>
		<hr>

		<div id='todid_listing'></div>
	</div>

	<!-- Underscore Templates -->
	<script type='text/template' id='todid_model_template'>
		<h3>entry:</h3>
		<div> <%= attributes.read_title %> </div>
		<div> <%= attributes.read_url %> </div>
		<div> <%= attributes.read_tldr %> </div>
		<div> <%= attributes.activity %> </div>
		<div> <%= attributes.thought_ideas %> </div>
		<div> <%= attributes.food %> </div>
		<div> <%= attributes.music %> </div>
		<div> <%= attributes.music_thoughts %> </div>
		<div> <%= attributes.new %> </div>
		<button class='delete_entry'>delete</button>
	</script>

	<!-- Javascript Files -->
	<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js'></script>
	<script src='main.js'></script>
</body>
</html>
