@mixin box-sizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
}
@mixin transition($attribute, $time, $easing) {
	-webkit-transition: $attribute $time $easing;
       -moz-transition: $attribute $time $easing;
    	-ms-transition: $attribute $time $easing;
    	 -o-transition: $attribute $time $easing;
    		transition: $attribute $time $easing;	
}

html {
	@include box-sizing;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	margin: 0 0;
	padding: 0 0;
	letter-spacing: 0.5px;		
}

#page_container {
	max-width: 550px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

header h2 {
	text-align: center;
}

.view_toggle {
	display: inline-block;
	width: 49%;
	cursor: pointer;
}
.view_toggle:hover {
	color: lime;
}
header {
	border-bottom: 1px solid #555;
}

#date {
	margin: 10px 0;
	color: #999;
}
#form_container, .form_section {
	width: 100%;
}
#form_container {
	margin-top: 50px;
}

.form_section_title {
	margin-bottom: 10px;
}

textarea.form_textarea {
	@include box-sizing;
	width: 100%;
	height: 70px;
	font-size: 16px;
	padding: 5px;
	resize: none;
	color: #555;
	letter-spacing: 1px;
}
textarea.form_textarea:focus {
	color: #555;	
	outline-width: 0;
}
#form_submit {
	width: 100%;
	height: 30px;
	background-color: white;
	border: 1px solid #999;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
	@include transition(all, 0.2s,  linear);

}
#form_submit:hover {
	border: 1px solid #FC8174;
	background-color: #FC8174;
	color: white;
}
.entry_text {
	color: #777;
}


/* Past entries styling */
.todid_item {
	padding: 25px 0;
}
.entry_header {
	margin: 0 0 10px 0;
}
.entry_label {
	font-weight: bold;
}
.entry_item_container {
	margin-bottom: 10px;
}



.hidden {
	display: none;
}
